/* Define the style for the whole document */
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman", "Liberation Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*      // Useful to debug table borders

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
*/

.main {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  border-spacing: 2px;
}

.report_title {
  text-align: center;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}

.box {
  text-align: center;
  font-size: large;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}

/* Define the style for the bar charts */
.chart_bar_container {
  width: 100%;
}

/* Define the style for the bar charts */
.chart_bar_table {
  table-layout: fixed;
  width: 100%;
  flex: auto;
  /*max-width: 500px;*/
  border-collapse: collapse;
}

.chart_bar_row {
  width: 100%;
  height: 20px;
}

.chart_bar_table_tooltip {
  cursor: pointer;
}

.chart_bar_table_tooltip_text {
  visibility: hidden;
  flex: auto;
  background-color: #ddd;
  color: #333;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  left: 1000px;
}

.chart_bar_table_tooltip:hover .chart_bar_table_tooltip_text {
  visibility: visible;
  transition: .25s all ease;
  transition-delay: .75s;

}


/* Define the style for the column name */
.column_name {
  font-family: monospace;
  font-size: 1.4em;
  padding-right: 5px;
  width: 20%;
}

/* Define the style for the column name of join_cols */
.join_column_name {
  font-weight: bold;
}

/* Define the style for columns with no change */
.no_change {
  display: 'table-row';
}

/* Define the style for columns with no change */
.details {
  display: none;  
}

.DataDiffTable {
  text-align: left;
}

/* Define the style for buttons when active */
button.active {
  background-color: darkgrey;
  color: black;
}

/* top_cols_container: collapsible container for the top_cols_table */
.top_cols_container {
  width: 100%;
  display: inline-flex;
}

.top_col_table_container {
}

/* top_col_table: table displaying the most frequent column values/changes */
/* Define the style for the table */
.top_col_table {
  margin: 0 auto;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px
}

/* Define the style for the header */
.top_col_table_header {
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-style: italic;
  font-weight: normal;
}

/* Define the style for the bar charts */
.top_col_table_div {
  padding-right: 10px;
  white-space: nowrap;
}

/* Define the style for the bar charts */
.top_col_bar_table {
  table-layout: fixed;
  width: 100%;
}

