/* Define the style for the whole document */
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman", "Liberation Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*      // Useful to debug table borders

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
*/

.main {
  margin: 0 auto;
  max-width: 2000px;
  text-align: center;
  border-spacing: 2px;
}

.report_title {
  text-align: center;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}

.box {
  text-align: center;
  font-size: large;
}

.box.green {
  background-color: green;
  color: white;
}

.box.red {
  background-color: red;
  color: white;
}

.box.blue {
  background-color: darkblue;
  color: white;
}

.box.orange {
  background-color: orange;
  color: white;
}




/* Define the style for the column name */
.column_name {
  font-family: monospace;
  font-size: 1.4em;
  padding-right: 5px;
  width: 20%;
  text-align: left;
}


/* Define the style for the column name of join_cols */
.column_name.join_column_name {
  font-weight: bold;
}

/* Define the style for columns with no change */
.no_change {
  display: 'table-row';
}

/* Define the style for columns with no change */
.details {
  display: none;  
}


.DataDiffTable {
  text-align: left;
}


.DataDiffTable_tbody {
  display: -webkit-inline-box;
}


.ColumnDiffRow {

}

.ColumnDiffRow_td.column_name {
  width: 1%;
}

.ColumnDiffRow_td.chart_bar_container {
  width: 200px;
  position: relative;
}

.ColumnDiffRow_td.left,
 ColumnDiffRow_td.right {
  width: auto;
}

/* Define the style for the bar charts */
.chart_bar_table {
  table-layout: fixed;
  width: 100%;
  flex: auto;
  /*max-width: 500px;*/
  border-collapse: collapse;
}

.chart_bar_row {
  width: 100%;
  height: 20px;
}

.chart_bar_table_container {
  cursor: pointer;
}

.chart_bar_table_tooltip_text {
  visibility: hidden;
  flex: auto;
  background-color: #ddd;
  color: #333;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  left: -100%;
  right: -50%;
  z-index: 1;
}


.chart_bar_table_container:hover .chart_bar_table_tooltip_text {
  visibility: visible;
  transition: .25s all ease;
  transition-delay: .75s;
}

/* Define the style for buttons when active */
button.active {
  background-color: darkgrey;
  color: black;
}

.DetailsTable {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

/* top_cols_container: collapsible container for the top_cols_table */
.top_cols_container {
  width: auto;
  display: -webkit-box;
}

.top_cols_container_side_filler {
  width: auto;
}

.top_col_table_container {
  border: 2px solid lightgrey;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

/* top_col_table: table displaying the most frequent column values/changes */
/* Define the style for the table */
.top_col_table {
/*  border: 2px solid transparent; */
  table-layout: fixed;
  border-top: 2px solid lightgrey;
  border-collapse: collapse;
  margin: 0 auto;
  border-spacing: 2px;
/*  overflow-y: auto; */
/*  overflow-x: hidden; */
/*  max-height: 500px; */
}

/* Define the style for the header */
.top_col_table_header {
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-style: italic;
  font-weight: normal;
}

/* Define the style for the bar charts */
.top_col_table_row {
  border: 1px solid transparent;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/* Define the style for the bar charts */
.top_col_table_row.selected{
  border: 1px double brown;
}

/* Define the style for the bar charts */
.top_col_table_div.value{
  min-width: 200px;
  word-break: break-any;
  padding-right: 10px;
}

/* Define the style for the bar charts */
.top_col_bar_table {
  table-layout: fixed;
  width: auto;
  borderCollapse: collapse;
}

.top_col_bar_table tr {
  width: auto;
  height: 20px;
}

.SampleDataTable {
  border-collapse: collapse;
  display: inline-block;
}

.SampleDataTable th,td {
  text-align: left;
}

.SampleDataTable tr {
  border: 1px solid lightgrey;
}

.SampleDataRowVerticalCell.selected {
  border: 2px double brown;
}

.SampleDataRowVerticalCell.missing {
  background-color: var(--d2h-empty-placeholder-bg-color);
}

.LeftDiff.change {
  background-color: var(--d2h-del-bg-color);
}

.LeftDiff del {
  text-decoration: none;
  background-color: var(--d2h-del-highlight-bg-color);
}

.RightDiff.change {
  background-color: var(--d2h-ins-bg-color);
}

.RightDiff ins {
  text-decoration: none;
  background-color: var(--d2h-ins-highlight-bg-color);
}
